:root {
    --background-overlay: rgb(0, 0, 0, 0.7);
    --badges-text-color: #ddd;
  }
html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 0.75em; /* Width of the scrollbar */
    height: 0.25em; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #34404C; 
    border-radius: 0.35em;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #242f3d;
}

/*-------------BODY-------------*/
.main{
   
    display: flex; /*main axis by default is X*/
    flex-direction: column; /*change the main axis to Y (vertical)*/
    justify-content: space-evenly; /*align content in the main axis*/
    align-items: center; /*position regarding the axis is not defined as main*/
    gap: 1.5em; /*space between sections*/
    height: 100%;

}

.bckg{
    background: linear-gradient(0deg, rgb(9, 24, 40) 11.2%, rgb(8, 19, 30) 51.2%, rgb(16, 37, 60) 100%);

    /*background-color: #1F2833;*/
    /*#282D34;*/
    /*#2b3a42*/
    /*#282D34*/
}

#scrollToTopBtn {
    position: fixed;
    bottom: 2%;
    right: 2%;
    background-color: #6495ED;
    padding: 0.5%;
    border-radius: 2em;
    display: none;
}


#scrollToTopBtn.visible {
    display: inline-block;
}

/*-------------SECTIONS-------------*/
.sections{
    width: 95%; /*occupy almost all width of the screen*/
    margin-bottom: 1em;
    /*font-family: 'Gill Sans MT', sans-serif;*/
}

/*-------------TITLES-------------*/
.title{
    width:100%;
    margin-bottom: 0.25em;
    margin-left: 2em;
    padding-top: 0.5em;
    color: #c4c4cf;
    font-size: 2em;
    font-family: 'Georgia', 'Gill Sans MT', sans-serif;
}


.subtitle{
    font-size: 1.05em;
    padding-bottom: 0.5em;
    margin-left: 7.5em;
    color:#c4c4cf;
    width:100%;
    font-family: 'Georgia', sans-serif;
    font-style: italic;

}
/*-------------section 1 (phrase and photo)-------------*/

#section1{
    /*background-color: #1F2833 ;*/
    height: 95vh; 
    display: flex; 
    flex-direction: column; /* displays vertically in flexbox the phrase, image and buttons*/
}

#phrase-and-photo{
    flex: 3; /* It grows faster than the buttons div. It makes the phrase and sentece occupy the most and the buttons at the bottom of the section*/
    display: flex; /*X axis is main*/
    justify-content: space-evenly;
    align-items: center;
}

#initial-text{
    margin: 1em;
    text-align: center;
}
#hello{
    font-family: 'Raleway';
    color:#c4c4cf;
    font-size: 2vw;
}
#name{
    font-family: 'Inria Sans';
    color:#6495ED;
    font-size: 4vw;
}

#initial-text h1{
    padding-bottom: em;
}

#initial-text p{
    font-size: 1.4em;
    color:#c4c4cf;
}

#photoMe{
    margin: 0.5em;
    clip-path: circle(45%);
    opacity: 0.7;
}

#button-frame{
    flex: 1;
    display: flex; /* flexbox inside the button div*/
    justify-content: space-evenly; /* evenly spaced buttons*/
    align-items: center; /*centered in the Y axis*/
}

.btn{
    background-color: #3d4f5e;
    /*#5f8f78*/
    color:#c4cacf;
    cursor:pointer;
    padding: 0.5em;
    border-radius: 0.4vw; /*make corners rounded*/
    font-size: 1.15em;
    text-decoration: none;

}

.btn:hover{
    background-color: #6495ED;
    transform: scale(1.05); /*make it a little bit bigger*/
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px; /*outside of the box effect when hovering*/
    transition-duration: .1s;
}

/*-------------section 2 (about me)-------------*/

#aboutme{
    height: auto;
    display: flex; /*X is main axis for both divs in this section*/ 
}

#description{
    text-align: justify;
    flex: 4; /*grows faster than contact icons*/
    box-sizing: border-box;/* div fitting within the section height*/
    padding: 0.75em;
    color:#c4cacf;
    font-family: 'Inria Sans';
}

#description p{
    padding-bottom: 1em;
    font-size: 1.1em;
}

.keywords{
    color: #A9CCE3;
    font-weight: bold;
}

#contact{
    flex-grow: 1;
    box-sizing: border-box;
    /* for icons to be centered on the right*/
    display: flex; /*flexbox*/
    flex-direction: column; /*Y as main axis*/
    justify-content: space-evenly; /*same space in between icons*/
    align-items: center; /*centered in the X axis*/
}

.contact-icon {
    transition: transform 0.3s ease;
  }
  
  .contact-icon:hover {
    transform: scale(1.1);
  }

#github{
    filter: invert(40%);
}


/*-------------section 3 (working experience)-------------*/


#we-title{
    display: flex;
    align-items: center;    
}

#download-div{
    font-size: 1rem;
    margin-left: 2rem;
    background-color: #3d4f5e;
    /*#785f8a;*/
}

#download-div:hover {
    background-color: #6495ED; 
    transform: scale(1.05); 
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
}

#download-button{
    display:flex;
    justify-content: space-around;
    align-items:center;
    text-decoration: none;
}
#icon-download{
    filter: invert(80%);
}

#download-text{
    padding-left: 0.4em;
    font-size: inherit;
    color: #c4c4cf;
    font-family: 'Inria Sans';
}

#experience{
    height: auto;
    display: flex; 
    flex-direction: column; /* Y is the main axis*/
    justify-content: space-evenly;
    align-items: center;
    color:#c4cacf;
}

#experience p{
    padding-left: 0.5em;
}

#experience div:hover{
    transform: scale(1.04); 
}

.we-div{
    border-radius: 0.4vw; 
    flex-grow: 1;
    box-sizing: border-box;
    width: 90%;
    font-family: 'Inria Sans';
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    transform: scale(1);
    transition: transform 1s ease;
}


#h2o2:hover,
#h2o2:focus {
  box-shadow: inset 0 0 0 12em #5f9ea0;
  transition: 1s;
  color: #f5f6fa;
}

#h2o2 img{
    padding-top: 0.5em;
    padding-left: 0.5em;  
    width: 10%;
    height: auto;
    filter: grayscale(70%)
}


#accenture img{
    padding-top: 0.5em;
    padding-left: 0.5em;
    width: 10%;
    height: auto;
    filter:brightness(120%);
}

#accenture:hover,
#accenture:focus {
  box-shadow: inset 0 0 0 11em #9678ad;
  transition: 1s;
  color: #f5f6fa;
}

#experience ul li {
    list-style-type: disc;
    margin-bottom: 1em;
}

.italic-text{
    font-style: italic;
}

.bold-text{
    font-weight: bold;
}

.spacer{
    height: 3rem;
}


/*-------------section 4 (projects)-------------*/

#projects{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.accordion{
    width: 75%;
}

.accordion-item{
    font-family: 'Inria Sans';
}
.accordion-button{
    padding: 0.5em; 
    width: 100%;
    background-color: rgb(119, 169, 208);
    display:flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Inria Sans';
    font-size: 1.1em;
    border-radius: 0.4vw;
    font-weight: bold; 
}

.accordion-button:hover, .accordion-button.active{
    background-color: rgb(169, 199, 228);
}

.accordion-content{
    padding-left: 1.5em;
    padding-right: 1em;
    color:#000000;
    background-color: rgb(200, 200, 200);
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden; 
}

.accordion-item.active .accordion-content {
    max-height: 100%; /* Expand max-height when accordion is active */
}

.arrow {
    width: 1.5em; 
    height: 1.5em; 
    transition: transform 0.3s ease; /* Smooth rotation transition */
}

.accordion-button.active .arrow {
    transform: rotate(180deg); /* Rotate the arrow 180 degrees */
}

.src-btn{
    text-decoration: none;
    padding: 0.45rem;
    border-radius: 0.2rem;
    background-color: #778899; 
    color: #ddd;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

.src-btn:hover {
    background-color: #6C7B8B;
    transform: scale(1.05);
}

#exoplanets {
    background-image: url('../images/stars.jpg');
    background-size: cover; 
    background-position: center;
    color: #ddd;
    text-shadow: 0.2em 0.2em 0.4em rgba(221, 221, 221, 0.5);
}

#covid-dashboard {
    background-image: url('../images/CovidDashboard.jpg');
    background-size: cover; 
    background-position: center;
    color: black;
    text-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.5);
}

#a-estrella{
    background-image: url('../images/Astar.jpg');
    background-size: cover; 
    background-position: center;
}

#aprendizajeUC3M{
    background-image: url('../images/ml_models.jpg');
    background-size: cover; 
    background-position: center;
}
.resaltado{
    background-color: rgba(29, 9, 9, 0.6);
    color: #ddd;
    text-shadow: 0.2em 0.2em 0.4em rgba(221, 221, 221, 0.5);    
    border-radius: 0.2rem;

}
/*-------------section 5 (courses)-------------*/


#online-courses{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.completion-certificates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}
  
.certificate {
    width: 45%;
    background-size: cover;
    transition: transform 0.3s;
    border-radius: 0.4vw;
}

.overlay-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-overlay);
}

.overlay-badges p {
    color: var(--badges-text-color);
    font-size: 1rem; 
}

.certificate:hover {
    transform: scale(1.05);
    --background-overlay: rgba(29, 9, 9, 0.1);
    --badges-text-color: transparent;
  }

#certificate1 {
    background-image: url('../images/certificate1.PNG');
    background-position: center;
}
  
#certificate2 {
    background-position: center;
    background-image: url('../images/certificate2.PNG');
}

#certificate3 {
    background-image: url('../images/certificate3.PNG');
    background-position: center 41.5%;
}
  
#certificate4 {
    background-image: url('../images/certificate4.PNG');
    background-position: center 56%;
}
#certificate5 {
    background-image: url('../images/certificate5.PNG');
    background-position: center 41.5%;
}

.institution{
    font-style: italic;
}