
html{
    scroll-behavior: smooth;
}
/*-------------BODY-------------*/
.main{
   
    display: flex; /*main axis by default is X*/
    flex-direction: column; /*change the main axis to Y (vertical)*/
    justify-content: space-evenly; /*align content in the main axis*/
    align-items: center; /*position regarding the axis is not defined as main*/
    gap: 1.5em; /*space between sections*/
    height: 100%;
}

.bckg{
    background-color: #282D34;
    /*#2b3a42*/
    /*#282D34*/
}
/*-------------SECTIONS-------------*/
.sections{
    width: 95%; /*occupy almost all width of the screen*/
    margin-bottom: 1em;
    /*border: 2px solid black;*/
    /*font-family: 'Gill Sans MT', sans-serif;*/
}

/*-------------TITLES-------------*/
.title{
    width:100%;
    margin-bottom: 0.5em;
    margin-left: 1em;
    padding-top: 0.5em;
    /*border: 2px solid #F7F9F9;*/
    color: #c4c4cf;
    font-size: 2em;
    font-family: 'Georgia', 'Gill Sans MT', sans-serif;
}

/*-------------section 1 (phrase and photo)-------------*/

#section1{
    background-color: #282D34 ;
    height: 95vh; 
    display: flex; 
    flex-direction: column; /* displays vertically in flexbox the phrase, image and buttons*/
}

#phrase-and-photo{
    flex: 3; /* It grows faster than the buttons div. It makes the phrase and sentece occupy the most and the buttons at the bottom of the section*/
    display: flex; /*X axis is main*/
    justify-content: space-evenly;
    align-items: center;
    /*border: 2px solid orangered;*/
}

#initial-text{
    margin: 1em;
    text-align: center;
}
#hello{
    font-family: 'Raleway';
    color:#c4c4cf;
    font-size: 2vw;
}
#name{
    font-family: 'Inria Sans';
    color:#6495ED;;
    font-size: 3.5vw;
}

#initial-text h1{
    padding-bottom: 1em;
}

#initial-text p{
    /*font-family: 'Raleway';*/
    font-size: 1.1em;
    color:#c4c4cf;
}

#photoMe{
    margin: 0.5em;
    clip-path: circle(45%);
    opacity: 0.7;
}

#button-frame{
    flex: 1;
    display: flex; /* flexbox inside the button div*/
    justify-content: space-evenly; /* evenly spaced buttons*/
    align-items: center; /*centered in the Y axis*/
    /*border: 2px solid yellowgreen;*/
}

.btn{
    /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);*/ /*creating the gradient*/
    /*background-image: linear-gradient(92.88deg, #4ba4a6 0%, #408d8e 25%, #347576 50%, #285d5e 75%, #1d4646 100%);*/
    background-color: #5f8f78;
    color:#c4cacf;
    cursor:pointer;
    padding: 0.5em;
    border-radius: 0.4vw; /*make corners rounded*/
    font-size: 1.15em;
    text-decoration: none;

}

.btn:hover{
    background-color: #6495ED;
    transform: scale(1.05); /*make it a little bit bigger*/
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px; /*outside of the box effect when hovering*/
    transition-duration: .1s;
}

/*-------------section 2 (about me)-------------*/

#aboutme{
    background-color: #282D34;
    height: auto;
    display: flex; /*X is main axis for both divs in this section*/
    
}

#description{
    border: 2px solid orangered;
    text-align: justify;
    flex: 4; /*grows faster than contact icons*/

    box-sizing: border-box;/* div fitting within the section height*/
    padding: 0.75em;
    color:#c4cacf;
    font-family: 'Inria Sans';
}

#description p{
    padding-bottom: 1em;
}

.keywords{
    color: #A9CCE3;
    font-weight: bold;
}

#contact{
    border: 2px solid yellowgreen;
    flex-grow: 1;
    box-sizing: border-box;
    /* for icons to be centered on the right*/
    display: flex; /*flexbox*/
    flex-direction: column; /*Y as main axis*/
    justify-content: space-evenly; /*same space in between icons*/
    align-items: center; /*centered in the X axis*/
}



/*-------------section 3 (working experience)-------------*/

#experience{
    background-color: #282D34;
    height: auto;
    display: flex; 
    flex-direction: column; /* Y is the main axis*/
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    color:#c4cacf;
}

#h2o2{
    border-radius: 0.4vw; 
    flex-grow: 1;
    box-sizing: border-box;
    width: 80%;
    font-family: 'Inria Sans';
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#h2o2 img{
    width: 10%;
    height: auto;
    filter: grayscale(70%)
}

#accenture{
    border-radius: 0.4vw; 
    flex-grow: 1;
    box-sizing: border-box;
    width: 80%;
    font-family: 'Inria Sans';
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#accenture img{
    width: 10%;
    height: auto;
    background-color: blue;
}

#experience ul li {
    list-style-type: disc;
    margin-bottom: 1em;

}

.italic-text{
    font-style: italic;
}
.bold-text{
    font-weight: bold;
}

.spacer{
    height: 3rem;
}
/*-------------section 4 (projects)-------------*/

#projects{
    background-color: grey;
    height: 80vh;
    display:flex;
    flex-direction: column;
    
    align-items: center;
}
.accordion{
    border: 2px solid lightblue;
    width: 100%;
    margin-top: 1em;
}

.accordion-content{
    border: 2px solid red;
    padding-bottom: 1em;
}

.accordion-button, .project-button{
    padding: 0.5em; /* basic styling*/
    width: 100%;
    text-align: left;
    border: 2px solid black;
    cursor: pointer;
}

.accordion-button{
    background-color: #5f8f78;
    margin-bottom: 0.5em;
}

.project-button{
    background-color: #d8f9ea;
}

.accordion-sub-item, .accordion-content{
    max-height: 0; /*maximum height of div content to 0, so it will overflow effectively and...*/
    overflow: hidden; /*it will be hidden*/
    transition: max-height 0.3s ease; /*smooth transition used when toggling*/

}

.accordion-button:hover, .project-button:hover {
    background-color: #ddd;
}
